p {color: aliceblue;text-align:center;font-family
    : Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;

}

h1{
    
font-size:35px; color:chartreuse;
 text-align: center;
font-style: italic;
text-decoration: underline dashed brown;



}
h2{
font-size: xx-large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
;



}


.p1{ color: antiquewhite;
    text-align: center;



}